<div class="circle-container" #progressCircle>
  <svg width="150" height="150" viewBox="0 0 150 150" xmlns="http://www.w3.org/2000/svg">
    <circle class="circle-background" cx="75" cy="75" r="50" stroke="#ddd" stroke-width="10" fill="none"></circle>
    <circle class="circle-foreground" cx="75" cy="75" r="50" stroke="#9865CC" stroke-width="10" fill="none" stroke-dasharray="314" stroke-dashoffset="314"></circle>
  </svg>
  <div class="circle-text">
    <strong>{{ percentage }}%</strong>
    <span>{{ skillName }}</span>
  </div>
</div>
