<section class=" max-w-screen-xl mx-auto px-4  mt-5" *ngIf="isBrowser">
    <!-- goals start -->
    <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-10 text-white">
        <div >
            <h1 class="mb-2 text-[30px]">Long term goals</h1>
            <mat-progress-bar mode="determinate" value="100" ></mat-progress-bar>
            <ul class="mt-2 list-disc ml-4">
                <li>Skill development</li>
                <li>Time management</li>
                <li>Practice coding</li>
                <li>Update resume</li>
            </ul>
        </div>
        <div>
            <h1 class="mb-2 text-[30px]">Short term gols</h1>
            <mat-progress-bar mode="determinate" value="50" ></mat-progress-bar>
            <ul class="mt-2 list-disc ml-4">
                <li>To be a software engineer</li>
                <li>MSC completion</li>
                <li>Sustainable practice</li>
            </ul>
        </div>
    </div>
     <!-- goals end -->

    <app-line [value]="'Skills'"></app-line>


    <!-- skills start -->
    <div class="flex justify-around max-[500px]:flex-col max-[500px]:justify-center max-[500px]:items-center max-[500px]:gap-4" >
        <circle-progress 
        [percent]="90"
        [title]="'HTML'"
        [subtitle]="'90%'"
        ></circle-progress>

        <circle-progress 
        [percent]="80"
        [title]="'PYTHON'"
        [subtitle]="'80%'"
        ></circle-progress>

        <circle-progress 
        [percent]="70"
        [title]="'REACT'"
        [subtitle]="'70%'"
        ></circle-progress>
    </div>
     <!-- skills end -->
     <app-line [value]="'Qualification'"></app-line>
 <!-- card start -->
 <div class="flex  flex-col justify-center items-center gap-4">
    <app-card [purl]="'./univ.jpg'" [qul]="'MSC '" ></app-card>
    <app-card [purl]="'./univ2.jpg'" [qul]="'BSC'" ></app-card>
    <app-card [purl]="'./cbse1.png'" [qul]="'+2'" ></app-card>
 </div>
  <!-- card end -->
</section>
      
    